@media only screen and (max-width: 1024px) {
    .nav-item {
        transform: translateY(-0px) !important;
    }

    .coding-img>img {
        width: 100%;
        margin-top: 40px;
    }

    .prog-lang-imgs {
        gap: 0px 30px;
    }

    .prog-lang-imgs>img {
        width: 60px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-item {
        transform: translateY(-0px) !important;
    }


    .first-section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        padding: 60px 0px;
    }

    .home {
        width: 90%;
        margin-top: -80px;
    }

    .home>h1 {
        font-size: 4rem;
    }

    .home>p {
        font-size: 0.9rem;
    }

    .coding-img {
        width: 50%;
    }

    .skills>h1:first-child {
        font-size: 3rem;
    }

    .prog-lang-imgs {
        display: grid;
        place-items: center;
        grid-template-columns: auto auto auto auto;
        gap: 50px 70px;
    }

    .prog-lang-imgs>img{
        width: 50px;
    }
}

@media only screen and (max-width: 425px) {
    nav {
        height: 4rem;
        padding: 0 0px;
    }

    nav>img:first-child {
        width: 150px;
        height: 50px;
        object-fit: cover;
        transform: translateY(0px) !important;
    }

    .nav-item {
        padding: 0px 5px;
        font-size: 10px;
        transform: translateY(-0px) !important;
    }

    .first-section {
        padding: 50px 0px;
    }

    .home {
        width: 85%;
        margin-top: -50px;
    }

    .home>h1 {
        font-size: 2.7rem;
        line-height: 40px;
    }

    .home>p {
        font-size: 0.75rem;
    }

    .coding-img {
        width: 60%;
    }

    .skills>h1:first-child {
        font-size: 2rem;
    }

    .prog-lang-imgs {
        gap: 30px 50px;
        margin-top: -30px;
    }

}

@media only screen and (max-width: 375px) {

    .nav-item {
        font-size: 10px;
    }

    .first-section {
        padding: 70px 0px;
    }

    .home {
        width: 90%;
        margin-top: -80px;
    }

    .home>h1 {
        font-size: 2.5rem;
        line-height: 30px;
    }

    .home>p {
        font-size: 0.6rem;
    }

    .coding-img {
        width: 55%;
    }

    .skills>h1:first-child {
        font-size: 2rem;
    }

    .prog-lang-imgs {
        gap: 15px 40px;
        margin-top: -30px;
    }

    .prog-lang-imgs>img{
        width: 45px;
    }
}

@media only screen and (max-width: 320px) {
 
    .skills>h1:first-child {
        font-size: 1.5rem;
    }

    .prog-lang-imgs {
        gap: 15px 25px;
    }
}