@media only screen and (max-width: 1024px) {
    nav {
        border-bottom: 1px solid #e9e9e9;
        backdrop-filter: blur(50px);
    }

    .nav-item {
        transform: translateY(-0px) !important;
    }

    .coding-img>img {
        width: 100%;
        margin-top: 40px;
    }

    .prog-lang-imgs {
        gap: 0px 30px;
    }

    .prog-lang-imgs>img {
        width: 60px;
    }

    .projects-container>h1 {
        font-size: 2.8rem;
        margin-bottom: 100px;
    }

    .project {
        display: flex;
        align-items: center;
        padding: 0px 60px;
        gap: 0px 80px;
        padding-bottom: 50px;
    }

    .proj-img {
        width: 65%;
    }

    .proj-img>a>img {
        transform: scale(1) !important;
    }

    .proj-info {
        width: 70%;
    }

    .proj-info>h2:first-child {
        font-size: 2.5rem;
    }

    .proj-info>p {
        font-size: 0.9rem;
    }

    .proj-img2 {
        width: 40%;
    }

    .proj-img2>a>img {
        width: 100%;
        height: 20rem;
        object-fit: contain;
    }

    .burgry>p:nth-child(2) {
        font-size: 1rem;
    }

    .periodic>h2:first-child {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        border-bottom: 1px solid #e9e9e9;
        backdrop-filter: blur(50px);
    }

    .nav-item {
        transform: translateY(-0px) !important;
    }

    .first-section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        padding-top: 60px;
    }

    .home {
        width: 50%;
        margin-top: -30px;
    }

    .home>h1 {
        font-size: 3.5rem;
    }

    .home>p {
        font-size: 1.1rem;
    }

    .coding-img {
        width: 50%;
    }

    .second-section {
        padding: 100px 0px;
    }

    .skills>h1:first-child {
        font-size: 2.5rem;
    }

    .prog-lang-imgs {
        display: grid;
        place-items: center;
        grid-template-columns: auto auto auto auto;
        gap: 30px 60px;
        margin-top: 30px;
    }

    .prog-lang-imgs>img {
        width: 50px;
    }

    .prog-lang-imgs>img:hover {
        transform: scale(1);
    }

    .about-me {
        margin-top: 25px;
    }

    .about-me>span {
        width: 75%;
        line-height: 1.1;
        font-size: 0.9rem;
    }

    .projects-container>h1 {
        font-size: 2rem;
        margin-bottom: 80px;
    }

    .project {
        padding: 0px 50px;
        gap: 0px 30px;
        padding-bottom: 50px;
    }

    .proj-img {
        width: 80%;
    }

    .proj-info {
        width: 60%;
    }

    .proj-info>h2:first-child {
        font-size: 2rem;
    }

    .proj-info>p {
        font-size: 0.7rem;
    }

    .proj-img2 {
        width: 30%;
    }

    .proj-img2>a>img {
        width: 100%;
        height: 15rem;
        object-fit: contain;
    }

    .burgry>p:nth-child(2) {
        font-size: 0.75rem;
    }

    .periodic>h2:first-child {
        font-size: 0.9rem;
    }

    .periodic>p:nth-child(2) {
        font-size: 0.6rem;
    }
    
    .login-form>h2:first-child{
        font-size: 1.2rem;
        color: rgb(0, 162, 255);
    }

    .login-form>p:nth-child(2){
        font-size: 0.7rem;
    }

}

@media only screen and (max-width: 425px) {
    nav {
        height: 4rem;
        padding: 0 0px;
        border-bottom: 1px solid #e9e9e9;
        backdrop-filter: blur(50px);
    }

    nav>img:first-child {
        width: 150px;
        height: 50px;
        object-fit: cover;
        transform: translateY(0px) !important;
    }

    .nav-item {
        padding: 0px 5px;
        font-size: 10px;
        transform: translateY(-0px) !important;
    }

    .first-section {
        padding-top: 40px;
    }

    .home {
        width: 85%;
        margin-top: -30px;
    }

    .home>h1 {
        font-size: 2.5rem;
        line-height: 35px;
    }

    .home>p {
        font-size: 0.75rem;
    }

    .coding-img {
        width: 60%;
    }

    .second-section {
        padding: 80px 0px;
    }

    .skills>h1:first-child {
        font-size: 2rem;
    }

    .prog-lang-imgs {
        gap: 20px 30px;
        margin-top: 15px;
    }

    .prog-lang-imgs>img {
        width: 40px;
    }

    .about-me {
        margin-top: 20px;
    }

    .about-me>span {
        width: 85%;
        font-size: 0.6rem;
    }

    .projects-container>h1 {
        font-size: 1.8rem;
    }

    .project {
        align-items: center;
        flex-direction: column;
        padding: 0px 10px;
        margin-bottom: 80px;
        padding-bottom: 30px;
    }

    .proj-img {
        width: 70%;
    }

    .proj-img>a>img {
        width: 100%;
    }

    .proj-info {
        text-align: center;
        width: 90%;
    }

    .proj-info>h2:first-child {
        font-size: 2rem;
        margin-top: 30px;
    }

    .proj-info>p {
        font-size: 0.8rem;
    }

    .project2 {
        padding-bottom: 30px;
        margin-top: -50px;
    }

    .proj-img2 {
        width: 100%;
    }

    .proj-img2>a>img {
        width: 100%;
        height: 10rem;
        object-fit: contain;
    }

    .burgry>p:nth-child(2) {
        font-size: 0.7rem;
        text-align: center;
    }

    .proj3 {
        margin-top: -50px;
    }

    .periodic>h2:first-child {
        font-size: 1.5rem;
    }

    .periodic>p:nth-child(2) {
        font-size: 0.8rem;
    }

        
    .login-form>h2:first-child{
        font-size: 1.5rem;
    }

    .login-form>p:nth-child(2){
        font-size: 0.6rem;
    }

}

@media only screen and (max-width: 375px) {
    nav {
        border-bottom: 1px solid #e9e9e9;
        backdrop-filter: blur(50px);
    }

    .nav-item {
        font-size: 10px;
    }

    .first-section {
        padding: 70px 0px;
    }

    .home {
        width: 90%;
        margin-top: -40px;
    }

    .home>h1 {
        font-size: 2.5rem;
        line-height: 30px;
    }

    .home>p {
        font-size: 0.6rem;
    }

    .coding-img {
        width: 55%;
    }

    .second-section {
        margin-top: -110px;
    }

    .skills>h1:first-child {
        font-size: 2rem;
    }

    .prog-lang-imgs {
        gap: 15px 40px;
        margin-top: 20px;
    }

    .prog-lang-imgs>img {
        width: 45px;
    }

    .about-me>span {
        width: 90%;
        font-size: 0.5rem;
    }

    .login-form>h2:first-child{
        font-size: 1.5rem;
    }

    .login-form>p:nth-child(2){
        font-size: 0.5rem;
    }

}

@media only screen and (max-width: 320px) {
    nav {
        border-bottom: 1px solid #e9e9e9;
        backdrop-filter: blur(15px);
    }

    .first-section {
        padding: 60px 0px;
    }

    .skills>h1:first-child {
        font-size: 1.5rem;
    }

    .prog-lang-imgs {
        gap: 15px 25px;
    }

    .proj-img {
        width: 80%;
    }

    .proj-info>h2:first-child {
        font-size: 1.8rem;
    }

    .proj-info>p {
        font-size: 0.6rem;
    }

    .burgry>p:nth-child(2) {
        font-size: 0.55rem;
    }

    .periodic>h2:first-child {
        font-size: 1rem;
    }

    .periodic>p:nth-child(2) {
        font-size: 0.6rem;
    }

        .login-form>h2:first-child{
        font-size: 1rem;
    }
}