* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    background-image: linear-gradient(to top left, rgb(224, 11, 11), rgb(180, 27, 27), rgb(88, 21, 21), rgb(20, 0, 0), rgb(0, 0, 0));
    font-family: sans-serif;
    color: #fff;

}

/* navbar */

header {
    position: sticky;
    top: 0;
    transition: all 0.3s linear;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid #e9e9e9;
    padding: 0 20px;
    backdrop-filter: blur(15px);
}

nav>img:first-child {
    width: 260px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s linear;
}

nav>img:first-child:hover {
    transform: translateY(-5px);
}

.nav-content {
    display: flex;
}

.nav-item {
    list-style-type: none;
    padding: 0px 15px;
    cursor: pointer;
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-weight: 600;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
}

