* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    background-image: linear-gradient(to top left, rgb(224, 11, 11), rgb(180, 27, 27), rgb(88, 21, 21), rgb(20, 0, 0), rgb(0, 0, 0));
    font-family: sans-serif;
    color: #fff;

}

/* navbar */

header {
    position: sticky;
    top: 0;
    transition: all 0.3s linear;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid #e9e9e9;
    padding: 0 20px;
    backdrop-filter: blur(15px);
}

nav>img:first-child {
    width: 260px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s linear;
}

nav>img:first-child:hover {
    transform: translateY(-5px);
}

.nav-content {
    display: flex;
}

.nav-item {
    list-style-type: none;
    padding: 0px 15px;
    cursor: pointer;
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-weight: 600;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
}

    .nav-item:hover {
        transform: translateY(-5px);
        color: #ff0000;
        opacity: 1;
    }

    /* \end of navbar */

    /* main */
    .first-section {
        display: flex;
        justify-content: center;
        text-align: justify;
        padding: 150px 0px;
        gap: 100px;
    }

    .home {
        width: 45%;
    }

    .home>h1 {
        font-size: 3.5rem;
        line-height: 80px;
        font-weight: 400;
    }

    .home>p {
        margin-top: 10px;
        font-size: 1rem;
    }

    .coding-img {
        overflow: hidden;
        width: 28%;
    }

    .coding-img>img {
        width: 100%;
        transition: all 0.3s linear;
        cursor: pointer;
        border-radius: 200px;
    }

    /* end of main section */
    /* about */

    .skills>h1:first-child {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 130px;
    }

    .prog-lang-imgs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px 60px;
    }

    .prog-lang-imgs>img {
        width: 65px;
        transition: all 0.3s linear;
        margin-bottom: 200px;
    }

    .prog-lang-imgs>img:hover {
        transform: scale(1.2);
    }